@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

.balance__card-mobile {
    width: 100%;
    height: 230px;
    background: radial-gradient(circle, #4f007c, #09359b);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.balance__card-mobile .card_info {
    padding: 10px;
    margin: 20px 5px;
}

.balance__card-mobile .card_info p {
    font-size: 22px;
    padding: 10px 0;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "PT Mono", monospace;
    font-weight: bold;
}

.balance__card-mobile .chip-mobile {
    color: #ccc;
    position: absolute;
    margin: 0;
    padding: 0;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    font-size: clamp(0.75rem, 2.8vw + 0.2rem, 1.1rem);
    text-shadow:
        -1px -1px 0px rgba(255, 255, 255, 0.5),
        1px -1px 0px rgba(255, 255, 255, 0.5),
        1px 1px 0px rgba(0, 0, 0, 0.5),
        1px -1px 0px rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.balance__card-mobile .chip-mobile {
    display: grid;
    place-items: center;
    width: 15%;
    aspect-ratio: 5/4;
    right: 6%;
    top: 10%;
    border-radius: 10% 10% 10% 10% / 15% 15% 15% 15%;

    background-image: none, none,
        linear-gradient(120deg, #777 10%, #ddd 40%, #ddd 60%, #777 90%);
    background-size: 200% 200%;
    background-position: 50% 50%;

    overflow: hidden;
    animation: bg var(--duration) ease infinite;
}

.balance__card-mobile .chip-mobile svg {
    display: block;
    width: 90%;
    fill: none;
    stroke: #444;
    stroke-width: 2;
}

.balance__card-mobile #chip-mobile {
    display: none;
}
