@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");

.balance__card {
    width: 100%;
    height: 230px;
    background: radial-gradient(circle, #4f007c, #09359b);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.balance__card .card_info {
    padding: 10px;
    margin: 20px 5px;
}

.balance__card .card_info p {
    font-size: 22px;
    letter-spacing: 2px;
    color: #ffffff;
    font-family: "PT Mono", monospace;
    font-weight: bold;
}
