@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/*@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700&family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --theme-color-darkblue: #8e65c1;
    --theme-color-blue: #var(--theme-color-secondary);
    --theme-color-lightblue: #f3c555; */

    /*TODO: Remove the old colors and refactor to use primary - secondary notations*/
    /*--theme-color-darkblue: #7f56da;*/
    /*--theme-color-blue: #1e6b49;*/
    --theme-color-darkblue: #754f9d;
    --theme-color-lightblue: #7a808c;

    --theme-color-white: #f5f5fc;
    --theme-color-blue: #90d7ee;
    --theme-color-gold: #ffcf4b;
    --theme-color-purple: #754f9d;
    /*--theme-color-purple: "#008ECC";*/

    --theme-color-primary: var(--theme-color-darkblue);
    --theme-color-secondary: var(--theme-color-blue);
    --theme-color-tertiary: #f5dcd4;
    /*--theme-color-white: #ffffff;*/
    --theme-color-arsenic: #3a3e49;
    --theme-color-grey: #7a808c;
    --theme-color-white-powder: #fdfcfa;
}

body {
    background-color: var(--theme-color-white-powder);
}